body {
  font-family: "Merriweather Sans", sans-serif;
  background: #f5dbda;
}
.cam {
  background-color: black;
  border: white 5px solid;
  width: 330px;
  height: 300px;
  border-radius: 25px;
  box-shadow: 5px 5px 18px white;
}
.footer_div {
  margin-bottom: 50px;
}
.footer_div h4 {
  background: white;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 5px 18px white;
}
.footer_div img {
  width: 70px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  line-height: 3;
  text-align: center;
}
